@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap");

.contactus-container {
  display: flex;
  padding: 7.8rem 0;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  flex-wrap: wrap;
  gap: 5rem;
  background-image: url(../../Assets/contact-us.jpg);

  background-position: center;
  background-size: cover;
}
.form-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: center;

  width: 100%;
  padding: 0 5rem;
}

.left-container {
  flex: 1;
}
.right-container {
  flex: 1;
}
.connect-title {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  color: rgb(246, 8, 246);
}

.connect-description {
  padding: 1rem 3rem;
  font-size: 1.3rem;
}

@media (max-width: 768px) {
  .contactus-container {
    flex-direction: column;
    padding: 0 0;
   
  }

  .left-container,
  .right-container {
    flex: 1;
  }

  .connect-description {
    padding: 1rem;
  }
}
@media (max-width: 540px) {
  .contactus-container {
    flex-direction: column;
    margin: 7rem 0 1rem 0;
    gap: 1rem;
  }

  .left-container,
  .right-container {
    flex: 1;
  }
  .form-container {
    gap: 1rem;
  }

  .connect-description {
    padding: 1rem 3rem;
  }
}
